<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Drowsiness Detection</title>
    <link rel="stylesheet" type="text/css" href="static/style/style.css">
</head>
<body class="home-page">
    <div class="background-image">
        <div class="navbar">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact Us</a>
            <a href="/blog">Blog</a>
        </div>

        <div class="content">
            <h1 class="heading">Driver Drowsiness Detection</h1>
            <p>Providing advanced technology to detect driver drowsiness and ensure road safety. Always vigilant, always safe.</p>

            <div class="buttons">
                <a href="/detection_page" class="button">Detection Page</a>
            </div>
        </div>
    </div>
</body>
</html>